body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: skyblue; /* Default background color */
    transition: background-color 0.3s;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.section {
    height: 100vh;
    padding-top: 400px;
    text-align: center;
    font-size: 24px;
}

#home { background-color: lightcoral; }
#about { background-color: lightseagreen; }
#services { background-color: lightpink; }
#contact { background-color: lightsteelblue; }

.nav-link:hover {
    background-color: darkslategray;
    color: #ffd700; /* Gold color for hover effect */
}
